<ion-header>
  <ion-toolbar>
    <ion-title>Agregar a Rutina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item
      *ngFor="let ejercicio of ejercicios"
      (click)="seleccionarEjercicio(ejercicio)"
      button
    >
      <ion-label>
        <h2>{{ ejercicio.titulo }}</h2>
        <p>{{ ejercicio.descripcion }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-text *ngIf="ejercicios.length === 0">
    <p>No hay ejercicios registrados.</p>
  </ion-text>
</ion-content>
