<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Compartir Foto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Imagen capturada y botones -->
  <div *ngIf="photo" class="photo-preview">
    <img [src]="photo" alt="Foto capturada" />

    <ion-button expand="block" color="primary" (click)="compartirFoto()">
      <ion-icon name="share-outline" slot="start"></ion-icon>
      Compartir Foto
    </ion-button>

    <ion-button
      expand="block"
      fill="outline"
      color="light"
      (click)="resetFoto()"
    >
      <ion-icon name="camera-outline" slot="start"></ion-icon>
      Tomar Otra Foto
    </ion-button>
  </div>

  <!-- Botón inicial de tomar foto -->
  <div class="camera-button-container" *ngIf="!photo">
    <ion-button
      shape="round"
      size="large"
      color="secondary"
      (click)="takePhoto()"
    >
      <ion-icon name="camera" slot="icon-only"></ion-icon>
    </ion-button>
  </div>
</ion-content>
